<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top p-2">
  <a class="navbar-brand" title="Niềm Vui Lập Trình" href="/">Niềm Vui Lập Trình</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link mr-5 hvr-underline-from-left" title="Trang Chủ" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active"><a class="nav-link mr-5 hvr-underline-from-left" title="Phát Triển Web" href="/article/Web-Development/">Web Development</a></li>
      <li class="nav-item active"><a class="nav-link mr-5 hvr-underline-from-left" title="Nguồn Lập Trình" href="/article/Resource/">Nguồn Lập Trình</a></li>
      <li class="nav-item active"><a class="nav-link mr-5 hvr-underline-from-left" title="Wordpress" href="/article/Wordpress/">Wordpress</a></li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle mr-5 hvr-underline-from-left" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="Xem Khóa Học">Ngôn Ngữ</a>
        <div class="dropdown-menu mt-2">
          <a class="dropdown-item" title="Hướng Dẫn Về HTML" href="/article/html/">HTML</a> <a class="dropdown-item" title="Hướng Dẫn Về CSS" href="/article/css/">CSS</a>
          <a class="dropdown-item" title="Hướng Dẫn Về Javascript" href="/article/Javascript/">Javascript</a>
        </div>
      </li>
      <li class="nav-item active"><a class="nav-link hvr-underline-from-left mr-5" title="Giới Thiệu Bản Thân" href="/about">Giới Thiệu</a></li>
    </ul>
  </div>
</nav>
