<!-- Shoping Cart -->
<div class="bg0 p-t-75 p-b-85" style="margin-top: 50px">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
        <div class="m-l-25 m-r--38 m-lr-0-xl">
          <div class="wrap-table-shopping-cart">
            <table class="table-shopping-cart">
              <tr class="table_head">
                <th class="column-6">STT</th>
                <th class="column-1">Sản phẩm</th>
                <th class="column-2"></th>
                <th class="column-3">Giá</th>
                <th class="column-4">Số lượng</th>
                <th class="column-4">Tổng cộng</th>
                <th class="column-4">Ngày mua</th>
              </tr>
              <tr class="table_row" *ngFor="let od of orderDetailList,index as i">
                <td class="column-6">{{i+1}}</td>
                <td class="column-1">
                  <div class="how-itemcart1">
                    <img src="{{od?.product?.img}}" alt="IMG">
                  </div>
                </td>
                <td class="column-2">{{od?.product?.name}}</td>
                <td class="column-3">đ {{od?.product?.price}}</td>
                <td class="column-4">
                    {{od?.orderQuantity}}
                </td>
                <td class="column-4">{{priceDetails[i]}}</td>
                <td class="column-4">{{od.order.datePurchase|datetimeFormat}}</td>
              </tr>
            </table>
          </div>

          <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm justify-content-center"  *ngIf="orderDetailList.length===0">
            <p class="text-danger text-center">Lịch sử mua hàng trống</p>
          </div>
          <br>
          <div class="flex-c-m flex-w w-full p-t-45">
            <a class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04" (click)="loadMore()">
              XEM THÊM
            </a>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
