<!-- Shoping Cart -->
<div class="bg0 p-t-75 p-b-85" style="margin-top: 50px">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
        <div class="m-l-25 m-r--38 m-lr-0-xl">
          <div class="wrap-table-shopping-cart">
            <table class="table-shopping-cart">
              <tr class="table_head">
                <th class="column-6">Mua</th>
                <th class="column-1">Sản phẩm</th>
                <th class="column-2"></th>
                <th class="column-3">Giá</th>
                <th class="column-4">Số lượng</th>
                <th class="column-5">Tổng cộng</th>
                <th class="column-7">Xóa</th>
              </tr>
              <tr class="table_row" *ngFor="let od of orderDetailList,index as i">
                <td class="column-6">
                  <input type="checkbox" [checked]="orderDetailList[i].choose" class="custom-checkbox"
                         (change)="updateStatus(i)">
                </td>
                <td class="column-1">
                  <div class="how-itemcart1">
                    <img src="{{od?.product?.img}}" alt="IMG">
                  </div>
                </td>
                <td class="column-2">{{od?.product?.name}}</td>
                <td class="column-3">đ {{od?.product?.price}}</td>
                <td class="column-4">
                  <div class="wrap-num-product flex-w m-l-auto m-r-0">
                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                      <i class="fs-16 zmdi zmdi-minus" (click)="minus(i)"></i>
                    </div>

                    <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="1"
                           #quantity
                           [(ngModel)]="orderDetailList[i].orderQuantity" (change)="checkQuantity(quantity.value, i)">

                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                      <i class="fs-16 zmdi zmdi-plus" (click)="plus(quantity.value, i)"></i>
                    </div>
                  </div>
                </td>
                <td class="column-5">{{priceDetails[i]}}</td>
                <td class="column-7">
                  <button type="button"  (click)="getInfoDelete(od?.id, od?.product?.name)" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                    Xóa
                  </button>
                </td>

              </tr>
            </table>
          </div>

          <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm justify-content-center" *ngIf="orderDetailList.length===0">
            <p class="text-danger text-center">Không có sản phẩm nào trong giỏ hàng</p>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
        <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
          <h4 class="mtext-109 cl2 p-b-30">
            THANH TOÁN
          </h4>

          <div class="flex-w flex-t bor12 p-b-13">
            <div class="size-208">
								<span class="stext-110 cl2">
									TIỀN HÀNG
								</span>
            </div>

            <div class="size-209">
								<span class="mtext-110 cl2">
									{{priceTotal}}
								</span>
            </div>
          </div>

          <div class="flex-w flex-t bor12 p-b-13">
            <div class="size-208">
								<span class="stext-110 cl2">
									VẬN CHUYỂN
								</span>
            </div>

            <div class="size-209">
								<span class="mtext-110 cl2">
									{{priceTransfer}}
								</span>
            </div>
          </div>

          <div class="flex-w flex-t bor12 p-b-13">
            <div class="size-208">
								<span class="stext-110 cl2">
									TỔNG
								</span>
            </div>

            <div class="size-209">
								<span class="mtext-110 cl2">
									{{total}}
								</span>
            </div>
          </div>
          <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
                  (click)="updatePayPalControl()">
            THANH TOÁN
          </button>
          <br>
          <div [hidden]="total<1" id="payments"></div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-danger">Bạn có muốn xóa sản phẩm </span> {{this.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="deleteCartDetail()">Xóa</button>
      </div>
    </div>
  </div>
</div>
