<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top text-white" style="background-color: #c67232; height: 80px">
  <div class="container">
    <a class="navbar-brand" href="#">PVCONS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [hidden]="!isLoggedIn" routerLink="/history/{{idUser}}">Lịch sử</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Liên hệ</a>
        </li>
        <li class="nav-item" style="margin-left: 15px">
          <a type="button" class="position-relative" style="color: white" routerLink="product/cart/{{idUser}}">
            <i class="fa fa-shopping-cart fa-lg" aria-hidden="true">
            </i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill "
                  style="background-color: red" [hidden]="!isLoggedIn">
     {{accountOrderDetail}}
         <span class="visually-hidden">unread messages</span>
    </span>
          </a>
        </li>
        <li [hidden]="isLoggedIn" class="nav-item" style="margin-left: 15px">
          <a type="button" style="color: white" routerLink="/login">
            <i class="fa fa-user fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item" style="margin-left: 15px" [hidden]="!isLoggedIn">
          <div class="dropdown">
            <a class="dropdown-toggle nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             {{currentUser}}
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Change Password</a></li>
              <li><a class="dropdown-item" href="#" (click)="logOut()">Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--end navbar-->
