
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Name</h5>
          <p class="card-text">Product Description</p>
          <div class="btn-group">
            <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>
            <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Name</h5>
          <p class="card-text">Product Description</p>
          <div class="btn-group">
            <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>
            <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Name</h5>
          <p class="card-text">Product Description</p>
          <div class="btn-group">
            <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>
            <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Name</h5>
          <p class="card-text">Product Description</p>
          <div class="btn-group">
            <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>
            <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">Product Name</h5>
          <p class="card-text">Product Description</p>
          <div class="btn-group">
            <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>
            <button type="button" class="btn btn-secondary"><i class="fa fa-info-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
